:root {
  --primary-color-white: hsl(0, 0%, 100%);
  --primary-color-black: hsl(40, 7%, 9%);
  --secondary-color-fire-bush: hsl(36, 85%, 54%);
  --secondary-color-dark-indigo: hsl(262, 79%, 15%);
  --accent-color-sky-magenta: hsl(299, 45%, 61%);

  --header-color: var(--secondary-color-dark-indigo);

  --navbar-color: hsl(36, 85%, 54%);
  --navbar-item-hover-color: hsl(36, 85%, 45%);
  --navbar-item-active-color: hsl(36, 85%, 60%);
  --navbar-item-font-color: var(--header-color);
  --navbar-divider-color: hsl(36, 85%, 70%);
  --navbar-width: 400px;

  --header-width: calc(var(--navbar-width) + var(--content-size));
  --header-height: 75px;
  --header-menu-transition-speed: 0.3s;

  --body-color: var(--primary-color-white);
}

/*General settings*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--body-color);
  position: relative;
  min-height: 100vh;
}

a {
  text-decoration: none;
  text-decoration-skip-ink: auto;
}

img {
  overflow: scroll;
}

button,
input[type="submit"],
input[type="reset"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

/*Header*/

header {
  height: var(--header-height);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--header-color);
  min-width: var(--header-width);
}

.menubutton {
  position: absolute;
  /*color: var(--primary-color-white); */
  color: var(--accent-color-sky-magenta);
  left: 0;
  margin-left: 35px;
  font-size: 2em;
}

#ButtonIcon {
  transition: var(--header-menu-transition-speed);
}

h1 {
  color: white;
  font-size: 2em;
  font-weight: 700;
}

/*Sidebar*/

.sidebar {
  position: fixed;
  left: calc(-1 * var(--navbar-width));
  width: var(--navbar-width);
  background-color: var(--navbar-color);
  min-height: 100%;
  overflow-x: hidden;
  transition: var(--header-menu-transition-speed);
  z-index: 100000;
}

.show {
  left: 0;
}

ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.mainlist {
  margin-top: 20px;
}

li {
  width: 100%;
  display: flex;
  justify-content: center;
}

li a,
li button {
  display: block;
  height: 50px;
}

.navitem,
.dropdownbutton {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: var(--navbar-item-font-color);
  background-color: transparent;
  font-size: 1em;
  font-weight: 500;
  width: 100%;
}

.navitem:hover,
.dropdownbutton:hover {
  background-color: var(--navbar-item-hover-color);
}

button i {
  margin-right: 5px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdownbutton {
  border: none;
  cursor: pointer;
}

.dropdownmenu {
  display: none;
  position: absolute;
  background-color: var(--navbar-color);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown:hover .dropdownmenu {
  display: block;
}

.active {
  background-color: var(--navbar-item-active-color);
}

.divider {
  border: 1px solid var(--navbar-divider-color);
  width: calc(100% - 50px);
  margin: 1px 0px;
}

i {
  margin-right: 5px;
}

/*Main Content*/

.mainpage {
  min-width: 300px;
}

/*when the sidebar is visible the overlay gets displayed*/
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 900;
  opacity: 0;
  transition: opacity 0.3s;
  pointer-events: none;
  margin-top: var(--header-height);
}

.visible {
  opacity: 1;
  pointer-events: auto;
}

.currentTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
}

.imagetheme {
  max-width: 100%;
  margin-bottom: 30px;
}

#ImageTheme {
  width: 100%;
}

.bildquelle {
  font-weight: 300;
  font-size: 0.8em;
}

.content {
  margin: 5px;
}
